<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница администратора</title>
</head>
<body>
<h1>Добро пожаловать ${user.username} </h1>
<h2>Дата регистрации : ${user.dateRegistration}</h2>

<form action="/admin/testAdd" method="post">
    <div>
        <label for="nameQuestion">Вопрос</label>
        <input type="text" name="nameQuestion" placeholder="Введите вопрос">
    </div>
    <br>
    <div>
        <label for="firstResponse">Первый вариант ответа</label>
        <input type="text" name="firstResponse" placeholder="Введите первый вариант ответа">
    </div>
    <br>
    <div>
        <label for="secondResponse">Второй вариант ответа</label>
        <input type="text" name="secondResponse" placeholder="Введите второй вариант ответа">
    </div>
    <br>
    <div>
        <label for="thirdResponse">Третий вариант ответа</label>
        <input type="text" name="thirdResponse" placeholder="Введите третий вариант ответа">
    </div>
    <br>
    <div>
        <label for="fourthResponse">Четвертый вариант ответа</label>
        <input type="text" name="fourthResponse" placeholder="Введите четвертый вариант ответа">
    </div>
    <br>
    <div>
        <label for="correctAnswer">Правильный вариант ответа</label>
        <input type="text" name="correctAnswer" placeholder="Введите правильный вариант">
    </div>
    <br>
    <div>
        <label for="tag">Тэг</label>
        <input type="text" name="tag" placeholder="Введите тэг физика или история">
    </div>
    <br>
    <input type="submit" value="Добавить">
</form>


<br><br>
Физика <button value="physic" ><a href="/test/testPhysics">Перейти</a></button>

<br><br>
История <button value="physic" ><a href="/test/testHistory">Перейти</a></button>

</body>
</html>